@font-face { font-family: "aileron semibold"; src: url("https://glen-assets.github.io/fonts/Aileron-SemiBold.otf"); }

@font-face { font-family: "aileron heavy"; src: url("https://glen-assets.github.io/fonts/Aileron-Heavy.otf"); }

@font-face { font-family: "google sans"; src: url("https://glen-assets.github.io/fonts/GoogleSans-Regular.ttf"); }

@font-face { font-family: "google sans medium"; src: url("https://glen-assets.github.io/fonts/GoogleSans-Medium.ttf"); }

h1 {
	position:relative;
	margin-top:0;
	padding-left:calc(1.1rem + calc(1.1rem/2));
	font-family:aileron heavy;
	font-size:1.1rem;
	font-weight:normal;
	text-transform:uppercase;
	letter-spacing:0.5px;
	word-spacing:1.5px;
	line-height:100%;
	text-shadow:2px 2px 0 rgba(111,249,225,0.7);
	color:#28283d;
}

h1:before {
	content:"";
	position:absolute;
	left:0;
	display:block;
	width:0;height:0;
	border-style:solid;
	border-width:calc(1.1rem/2) 0 calc(1.1rem/2) 1.1rem;
	border-color:transparent transparent transparent #444466;
}

h2 {
	font-family:aileron heavy;
	text-transform:uppercase;
	font-size:1rem;
	letter-spacing:1px;
	word-spacing:0.3px;
	font-weight:normal;
	text-shadow:2px 2px 0 rgba(111,249,225,0.7);
	color:#28283d;
}

h2:first-child { margin-top:0 }

body {
	font-family:google sans;
	font-size:0.9rem;
	letter-spacing:0.3px;
	margin:5vmin;
	color:#222;
	background-image:url("https://64.media.tumblr.com/d1decb703434224e8c01163304863f30/aa56c24116a90bd2-9c/s2048x3072/600a6ef52d711119d75e0e05b0ab67607a8ce14b.png");
	background-repeat:repeat;
	background-attachment:fixed;
	overflow-y:scroll;
	overflow-x:hidden;
}

img {
	max-width:100%;
	vertical-align:middle;
}

a {
	color:#8066dd;
	text-decoration:none;
	padding-bottom:0.5px;
	border-bottom:1px dashed rgba(100,94,249,0.4)
}

:root {
	--Avatar-Size:64px;
	--Avatar-Padding:5px;
	--Avatar-Border-Size:1px;
	--Avatar-Total-Size:calc(var(--Avatar-Size) + (var(--Avatar-Padding) * 2) + (var(--Avatar-Border-Size) * 2));
	
	--Handshake-Size:36px;
	
	--Picker-Box-Height:calc(80vh - 40px);
	--Chara-Select-Avatar-Size:64px;
}

[container]{
	display: grid;
	grid-template-columns: var(--Avatar-Total-Size) var(--Handshake-Size) 400px;
	/* grid-template-rows: repeat(2, 1fr); */
	grid-gap: 0px 20px;
}

[msg]{
	grid-area: 1/1/2/4;
	margin:10px 0;
	line-height:155%;
	width:360px;
}

[msg] > p:first-child { margin-top:0 }
[msg] > p:last-child { margin-bottom:0 }

.updt {
	position:relative;
	margin-top:calc(9px + (0.9rem / 2))!important;
	padding:15px;
	padding-top:calc(15px + 9px + (0.9rem / 2));
	background:#fafafa;
	border:1px solid #eee;
	border-radius:5px;
	color:#777;
	z-index:0;
	box-sizing:border-box;
}

.updt-label {
	position:absolute;
	bottom:100%;left:0;
	margin-left:13px;
	margin-bottom:calc(0px - (0.9rem / 2) - 9px);
	padding:9px 16px;
	background:#ececec;
	border-radius:12px;
	border:1px solid #dfdfdf;
	font-family:aileron semibold;
	font-size:0.9rem;
	letter-spacing:0.7px;
	text-transform:uppercase;
	line-height:100%;
	color:#444;
	z-index:1;
}

.updt b {
	font-weight:normal;
	font-family:google sans medium
}

caps {
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:0.75rem;
	color:#222;
}

button.credits {
	font-family:inherit;
	font-size:inherit;
	color:inherit;
	outline:none;
	border:none;
	letter-spacing:inherit;
	padding:0;
	background:transparent;	
	
	padding-bottom:0.5px;
	border-bottom:1px dashed rgba(0,0,0,0.2);
	cursor:help;
}

[mc-holder], [sc-holder]{
	position:relative;
	border-radius:3px;
	border:var(--Avatar-Border-Size) solid #eee;
	width:var(--Avatar-Total-Size);
	height:var(--Avatar-Total-Size);
	background:#fff;
	box-sizing:border-box;
	overflow:hidden;
	cursor:pointer;
}

[mc-holder]{
	grid-area: 2 / 1 / 3 / 2;
}

[empty-chara], [has-chara]{
	position:absolute;
	top:0;left:0;
	display:flex;
	align-items:center;
	justify-content:center;
	background:#eaeaea;
	
	margin-top:var(--Avatar-Padding);
	margin-left:var(--Avatar-Padding);
	width:calc(100% - (var(--Avatar-Padding) * 2));
	height:calc(100% - (var(--Avatar-Padding) * 2));
	border-radius:3px;
}

[has-chara]{
	opacity:0;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	overflow:hidden;
}

[empty-chara] .ti {
	display:block;
	margin-top:-1px;
	font-size:2.2rem;
	line-height:100%;
	color:#2f2f47
}

[has-chara]{
	transition:opacity 0.69s ease-in-out;
}

[has-chara-overlay]{
	position:absolute;
	bottom:0;left:0;
	width:100%;
	height:calc((var(--Avatar-Size) * 0.169) * 1.8);
	background-color:rgba(68,68,102,0.8);
	text-transform:uppercase;
	font-size:calc(var(--Avatar-Size) * 0.169);
	letter-spacing:1px;
	color:#eee;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
}

[mc-holder], [handshake]{
	position:sticky;
	top:11px;
}

[handshake]{
	grid-area: 2 / 2 / 3 / 3;
	display:flex;
	align-items:center;
	height:var(--Avatar-Total-Size)
}

.hide-same-units {
	font-family:inherit;
	font-size:inherit;
	line-height:100%;
	color:#fff;
	margin-bottom:14px;
	display:none;
}

.custom-toggle {
	position:relative;
	width:46px;
	height:18px;
	background:#f96e80;
	border-radius:18px;
	border:1px solid #ccc;
	overflow:hidden;
	flex-shrink:0;
	transition:all 0.3s ease-in-out
}

.tog-thing {
	position:absolute;
	top:0;left:0;
	width:18px;
	height:18px;
	border-radius:18px;
	background:#fefefe;
	box-shadow:15px 15px 50px rgba(0,0,0,0.07);
	transition:all 0.3s ease-in-out
}

.custom-toggle.move-on {
	background:#87F7AF!important;
}

.custom-toggle.move-on .tog-thing {
	left:calc(100% - 18px);
	box-shadow:-4px -4px 10px rgba(0,0,0,0.13)
}

.tog-text {
	margin-left:8px;
	color:#888;
}

[sc-col]:not(.show) [sc-group] [sc-text]{
	display:none;
}

.show[sc-col] [sc-text]{
	display:block!important;
}

[sc-group]{
	display:flex;
	align-items:center;
	margin-bottom:10px;
}

[sc-holder]{
	cursor:default;
}

[sc-text]{
	margin-left:9px;
	text-transform:capitalize
}

[sc-name]{
	font-family:aileron heavy;
	text-transform:uppercase;
	letter-spacing:0.5px;
	color:#444466;
	text-shadow:2px 2px 0 rgba(111,249,225,0.7);
}

[sc-unit]{
	opacity:0.69;
	margin-top:6px;
}

[sc-unit]:before {
	content:"\2014";
	margin-right:3px;
}

[sc-unit]:empty {
	display:none
}

/******************************/

[chara-select-popup]{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	backdrop-filter:blur(8px);
	display:none; /* flex */
	align-items:center;
	justify-content:center;
	z-index:69;
}

[popup-box]{
	position:relative;
	width:80vw;
	height:var(--Picker-Box-Height);
	
	padding:20px;
	box-sizing:border-box;
	border-radius:15px;
	border:1px solid #efefef;
	background:#fff;
	box-shadow:15px 15px 50px rgba(0,0,0,0.07)
}

[popup-box-inner]{
	max-height:calc(var(--Picker-Box-Height) - 40px);
	overflow-y:auto;
}

[chara-grid]{
	display:grid;
	grid-template-columns:repeat(4, var(--Chara-Select-Avatar-Size));
	grid-gap:8px;
}

[chara-id]{
	position:relative;
	width:var(--Chara-Select-Avatar-Size);
	height:var(--Chara-Select-Avatar-Size);
	border-radius:3px;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-color:#eaeaea;
	overflow:hidden;
	z-index:0;
}

[chara-overlay]{
	position:absolute;
	top:0;left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	text-transform:uppercase;
	font-size:calc(var(--Chara-Select-Avatar-Size) * 0.169);
	letter-spacing:1px;
	color:#eee;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	z-index:1;
	opacity:0;
	transition:opacity 0.269s ease-in-out;
}

[chara-id]:hover [chara-overlay]{
	opacity:1
}

.c-selected [chara-overlay]{
	opacity:1;
	/* background-color:rgba(73,115,181,0.8); */
	background-color:rgba(109,79,238,0.8);
}

[popup-box] hr {
	display:block;
	margin:20px 0;
	width:100%;
	border:none;
	border-top:1px solid #eee;
}

.ok {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	display:none; /* flex */
	justify-content:center;
	margin-bottom:calc(0px - (0.9rem / 2) - 7px)
}

.ok, .ok button {
	font-family:inherit;
	font-size:0.9rem;
	letter-spacing:0.5px;
}

.ok button {
	outline:none;
	border:none;
	background-color:#645ef9;
	color:#eee;
	line-height:100%;
	padding:7px 25px;
	border-radius:5px;
	cursor:pointer;
	transition:background-color 0.269s ease-in-out;
}

.ok button:hover {
	background-color:#f96e80;
}


/*------------------*/


/*----- POPIFY STYLING -----*/
[popify]{
	position:fixed;
	top:0;left:0;
	width:100vw;
	height:100vh;
	backdrop-filter:blur(6px);
	z-index:10; /* increase this number if you can't see your popup */
	
	display:none;
	opacity:0;
}

[popify].show {
	display:flex;
	align-items:center;
	justify-content:center;
}

.popup-box {
	position:relative;
	width:80vw;
	padding:20px;
	background:#fcfcfc;
	border-radius:14px;
	box-shadow:4px 4px 25px 0 rgba(0,0,0,4%);
	border:1px solid #efefef;
	box-sizing:border-box;
	
}

.pp-inner {
	padding-right:0.8em;
	margin-right:-0.8em;
	max-height:var(--Picker-Box-Height);
	overflow-y:scroll;
	overflow-x:hidden;
}

.popup-box b {
	font-weight:normal;
	font-family:google sans medium;
}

.popup-box li + li {
	margin-top:0.69em
}

.tb-cont {
	position:absolute;
	bottom:0;left:0;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	width:100%;
	height:auto;
	margin-bottom:calc(0px - 20px + (0.9rem / 2))
}

.popup-box button {
	font-family:inherit;
	font-size:0.9rem;
	letter-spacing:0.5px;
	outline:none;
	border:none;
	background-color:#645ef9;
	color:#eee;
	line-height:100%;
	padding:7px 25px;
	border-radius:5px;
	cursor:pointer;
	transition:background-color 0.269s ease-in-out;
}

.popup-box button:hover {
	background-color:#f96e80;
}

.popup-box ul {
	padding-left:1.2em
}

hr {
	margin:1.4rem auto;
	border-style:solid;
	border-width:0.5px;
	border-color:rgba(0,0,0,7%)
}